<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="container">
      <h1>Inscription</h1>
      <div class="elementForm">
      <label for="name"><b>Login</b></label>
      <input type="text" id="name" formControlName="username" placeholder="Entrez un Login">
      </div>
      <div class="error" *ngIf="username?.touched && username?.errors">
        <span *ngIf="username?.errors!['required']">Champs requis</span>
        <span *ngIf="username?.errors!['minlength']">Login doit avoir au moins  6 char. (current: {{
          username?.errors!['minlength']?.actualLength }})</span>
        <span *ngIf="username?.errors!['maxlength']">Username doit avoir au plus 10 char. (Currently: {{
          username?.errors!['maxlength']?.actualLength }})</span>
      </div>
      <div class="elementForm">
      <label for="email" >Email</label>
      <input type="text" id="email" formControlName="email" placeholder="Entrez votre email">
      </div>
<div class="error" *ngIf="email?.touched && email?.errors">
  <span *ngIf="email?.errors!['required']">Champs requis</span>
  <span *ngIf="email?.errors!['email']">Email incorrect</span>
</div>
<div class="elementForm">
    <label for="password" >Mot de passe</label>
    <input type="password" id="password" formControlName="password" placeholder="Entrez un mot de passe">
 </div>
    <div class="error" *ngIf="password?.touched && password?.errors">
      <span *ngIf="password?.errors!['required']">Champs requis</span>
      <span *ngIf="password?.errors!['minlength']">Le mot de passe doit avoir  8 char mininmu. (Actuel: {{
        password?.errors!['minlength']?.actualLength }})</span>
    </div>
    <div class="elementForm">
    <label for="phone">Tel</label>
    <input type="text" id="phone" formControlName="phone" placeholder="Entrez numero de telephone">
    </div>
    <div class="phone" *ngIf="phone?.touched && phone?.errors">
  <span *ngIf="phone?.errors!['required']">Champs requis</span>
  <span *ngIf="phone?.errors!['minlength']">Phone must have 9 char. (Currently: {{
      phone?.errors!['minlength']?.actualLength }})</span>
  <span *ngIf="phone?.errors!['maxlength']">phone must have at most 10 char. (Currently: {{
        phone?.errors!['maxlength']?.actualLength }})</span>
  <span *ngIf="phone?.errors!['pattern']">phone must have at most 10 char. (Currently: {{
        phone?.errors!['maxlength']?.actualLength }})</span>
</div>
<div class="clearfix">
    <button type="submit" class="btn">Sign Up</button>
  </div>
</div>
</form>
