<form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div class="container">
      <h1>Inscription</h1>
      <div class="elementForm">
      <label for="name"><b>Login</b></label>
      <input type="text" id="name" formControlName="username" placeholder="Entrez un Login">
      </div>
      <div class="error" *ngIf="username?.touched && username?.errors">
        <span *ngIf="username?.errors!['required']">Champs requis</span>
        <span *ngIf="username?.errors!['minlength']">Login doit avoir au moins  6 char. (current: {{
          username?.errors!['minlength']?.actualLength }})</span>
        <span *ngIf="username?.errors!['maxlength']">Username doit avoir au plus 10 char. (Currently: {{
          username?.errors!['maxlength']?.actualLength }})</span>
      </div>
      <div class="elementForm">
      <label for="email" >Email</label>
      <input type="text" id="email" formControlName="email" placeholder="Entrez votre email">
      </div>
<div class="error" *ngIf="email?.touched && email?.errors">
  <span *ngIf="email?.errors!['required']">Champs requis</span>
  <span *ngIf="email?.errors!['email']">Email incorrect</span>
</div>
<div class="elementForm">
    <label for="password" >Mot de passe</label>
    <input type="password" id="password" formControlName="password" placeholder="Entrez un mot de passe">
 </div>
    <div class="error" *ngIf="password?.touched && password?.errors">
      <span *ngIf="password?.errors!['required']">Champs requis</span>
      <span *ngIf="password?.errors!['minlength']">Le mot de passe doit avoir  8 char mininmu. (Actuel: {{
        password?.errors!['minlength']?.actualLength }})</span>
    </div>
    <div class="elementForm">
    <label for="phone">Tel</label>
    <div formArrayName="phones" >
      <div class="phone" *ngFor="let phone of phones.controls; let i=index; let first=first" [formGroupName]="i">
        <input type="phone" name="phone" formControlName="phoneNumber" placeholder="812345678">
          <span (click)="deletePhone(i)" *ngIf="!first">Remove</span>
            <div class="error" *ngIf="getPhoneNumber(i)?.touched && getPhoneNumber(i)?.errors">
              <span *ngIf="getPhoneNumber(i)?.errors!['required']">Champs requis</span>
              <span *ngIf="getPhoneNumber(i)?.errors!['pattern']">Ce champ accepte uniquement des chiffres.</span>
              <span *ngIf="getPhoneNumber(i)?.errors!['minlength'] && !getPhoneNumber(i)?.errors!['pattern']">Phone must have 8 char. (Currently: {{
                getPhoneNumber(i)?.errors!['minlength']?.actualLength }})</span>
              <span *ngIf="getPhoneNumber(i)?.errors!['maxlength']">phone must have at most 10 char. (Currently: {{
                getPhoneNumber(i)?.errors!['maxlength']?.actualLength }})</span>
            </div>
      </div>
    </div>
    <div (click)="addPhone()" *ngIf="phones?.length != 3 &&  !getPhoneNumber(phones.length-1)?.errors!">+ Add Phone number</div>
  </div>
<div class="clearfix">
    <button type="submit" class="btn">Sign Up</button>
  </div>
</div>
</form>
