<div class="container">
<div class="background">
  <app-backgroud></app-backgroud>
</div>

<div class="container1">
<div class="logo">
  <img src="/assets/images/Group 9.png" alt="logo">
</div>
<div class="router">
<router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="element1">
    <img class="image" src="/assets/images/Figma.svg" alt="Figma">
    <div class="uiunicom">@uiunicom</div>
  </div>
  <div class="element2">
    <div>© Perfect Login </div>
  </div>
</div>
</div>
</div>
