.credentiel.hidden
{
  visibility: hidden;
}
.global{
  display:flex;
  flex-direction: column;
  height:50%;
  width:100%;
  justify-content:center;
  padding:2%;
  .email{
    margin-bottom: 2em;
    flex:6

  }
  .credentiel{
    flex:2
  }
  .button{
    margin-top: 2em;
  }
}
